html, head, body {
			margin: 0;
			padding:0;
			width: 100%;
			height: 100%;
			font-family: arial, sans-serif;
			font-size: 14px;
			line-height: 22px; /* межстрочное расстояние*/
		}
		h2 {
			font-size: 1em; /*размер шрифта заголовка = осн шрифту*/
			margin: 0;
		}
		.wrapper {
			width: 960px;
			min-height: 100%;
			margin: 0 auto;
			padding: 25px 23px; /*1024 -960 = 64 - 18px(полоса прокрутки) =46/2*/
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			}
 		header{
			margin: 0;
			padding: 0;
			background: url(images/line.png) repeat-x 0 120px;
		}
		.header {
			min-height: 108px;
			margin-bottom: 20px;
			position: relative;
		}
		.header img {
			float: left;
			width: 122px;
			height: 108px;
		}
		.header-content {
			margin: 0 20px;
			height: 78px;
			width: 249px;
			position: absolute; /*Положение относительно родительского элемента */
			left: 125px;
			background: #777;
			padding: 15px;
		}
		.header-contacts {
			float: right;
			padding: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center; /*Выравнивание по вертикали*/
			align-items: flex-end;  /*Выравнивание по горизонтали*/
			height: 78px;
			max-width: 480px;
			width: 480px;
			background: #777;
		}

		main {
			flex-grow: 1; /*Растягиваем на доступную ширину*/
		}
		.content {
			min-height: 100%;
			display: flex;
			padding: 25px 0;
		}
		.left {
			width: 180px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			order: -1;
			margin-right: 20px;
		}
		.left ul {
			list-style-type: none;
			margin: 0;
			padding: 15px;
			background: #777;
		}
		.left img {
			width: 180px;
			height: 130px;
		}
		.center {
			flex-grow: 1;
			width: 755px;
			overflow: hidden;
		}
		.center-top {
			height: 185px;
			background: #bbb;
			padding: 15px;
			margin-bottom: 20px;
		}
		.center-middle {
			display: flex;
			flex-wrap: wrap;
			overflow: hidden;
			margin-right: -25px;
		}
		.center-middle-element {
			width: 135px;
			height: 150px;
			background: #bbb;
			margin: 0 22px 22px 0;
		}
		.center-bottom {
			display: flex;
			justify-content: space-between;
		}
		.center-bottom-block {
			height: 200px;
			width: 370px;
			background: #bbb;
		}
		footer {
			margin: 0;
			padding: 25px 0 0 0;
			background: url(images/line.png) repeat-x 0 -8px;
			height: 180px;
		}
		.footer {
			min-height: 180px; /*не даем сжаться футеру*/
			flex-basis: 180px; /*ширина футера*/
			margin-top: 0;
			display: flex;
			justify-content: space-between;
		}
		.footer-left ul {
			display: flex;
			flex-flow: column wrap;
			height: 160px;
			width: 270px;
			margin: 0px;
			padding: 10px 15px;
			list-style-type: none;
			background: #777;
			justify-content: space-between;
		}
		.footer-center {
			height: 160px;
			width: 270px;
			padding: 10px 15px;
			background: #777;
		}
		.footer-center ul {
			display: flex;
			flex-flow: column wrap;
			margin: 0 0 0 20px;
			padding: 0;
			height: 100%;
			list-style-type: square;
			justify-content: flex-start;
		}
		.footer-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.footer-right-top {
			width: 310px;
			height: 80px;
			background: #777;
		}
		.footer-right img {
			width: 310px;
			height: 80px;
		}
